body {
    background: #27a8d2
}

header {background: url(https://images.unsplash.com/photo-1503177847378-d2048487fa46?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f8b28e6a318b7c126e31813199050b9b&auto=format&fit=crop&w=967&q=80)}

header* {background: rgba(255, 255, 255, 0.5);
color: black;}

h3 {size: 20px}
.summary p {background: red;}
.preamble p:last-child {background: pink;}
.preamble p:first-of-type {background: purple;}

div[role="main"] {border: dotted 1px red}

div.main p:nth-child(2n+1) {background: yellow; color: green;}
h3:hover {border-bottom: dotted 5px pink}
li:nth-child(2n+1) {background: orange;}
li:nth-child(2n) {background: red}